.panel {
  background-color: var(--gla-dark-grey-blue);
  width: var(--panel-width);
  height: 100%;
  position: fixed;
  right: 0;
  z-index: 150;
  padding: 2.4rem 2rem 4rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .test {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    width: 100%;
    margin: 0;
  }
}