:root {
  --gla-medium-blue: #1E2141;
  --gla-grey-blue: #4D5B7B;
  --gla-light-blue: #64709A;
  --gla-dark-grey-blue: #283240;
  --gla-blue: #405B6F;
  --gla-dark-blue: #1d2f46;

  --panel-width: 275px;

  --mobile-screen: 768px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  color: white;
}

html {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg-gla-medium-blue {
  background-color: var(--gla-medium-blue);
}

.bg-content {
  background-color: var(--gla-blue);
}

.header-section {
  background-color: black;
  width: 100%;
  height: 100px;
  position: fixed;
  z-index: 100;
  padding: 1rem;
  padding-right: calc(var(--panel-width) + 1rem);

  @media (max-width: var(--mobile-screen)) {
    padding-right: 1rem;
  }
}

.content {
  padding: 4rem 6rem;
  padding-top: calc(100px + 4rem);
  width: 100%;
  height: 100%;

  @media (max-width: var(--mobile-screen)) {
    padding: 2rem;
    padding-top: calc(100px + 2rem);
  }
}

#root {
  height: 100%;
}
